[Unit]
Description=compress images captured by motion capture

[Service]
Type=idle
ExecStart=/opt/motion_capture/bin/compress.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
