[Unit]
Description=Detects motion and captures still images

[Service]
Type=idle
ExecStart=/opt/motion_capture/bin/motion_capture.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
